body{

    font-family : sans-serif;
}


.box1{
    width: 300px;
    padding : 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box1 h1{
    color : "black";
    text-transform: uppercase;
    font-weight: 500;

}
.box1 input[type="submit"]{
    border: 0;
    background: none;
    display : block;
    margin: 20px auto;
    text-align : center;
    border: 2px solid #2ecc71;
    padding : 14px 10px ;
    width:  100px ;
    outline : none;
    color : white ;
    border-radius: 24px;
    transition : 0.25s;
    cursor: pointer;
}
.box1 input[type="submit"]:hover{
background:#2ecc71;
}

