<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel ="stylesheet" href ="{% static 'layout/styles/style1.css'%}">
</head>
<body style="background-image:url({% static 'images/demo/backgrounds/bg50.jpg'%});">

   
           <form class ="box" action ="login" method= "POST">
            {% csrf_token %}
            <h1> Login </h1>
            <input type ="text" name="username" placeholder="Username">
            <input type ="password" name="password" placeholder="Password">
            <input type ="submit">
        </form>
        <div>
                {% for message in messages %}
                    <script>alert("{{message}}")</script>
                    {% endfor %}
                </div>
        
          
 
  
</body>
</html>
