{% extends 'index2.html' %}
{% block content %}
<div class="wrapper row1">
  <section id="ctdetails" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href="inventorytable"><i class="fas fa-info-circle"></i></a> <span><strong>INVENTORY TABLE</strong></span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="ordertable"><i class="fas fa-box"></i></a> <span><strong>ORDERS</strong></span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="purchasetable"><i class="fas fa-luggage-cart"></i></a> <span><strong>PURCHASES</strong></span></div>
      </li>
     
      <li class="one_quarter">
        <div class="block clear"><a href="to_ordertable"><i class="fas fa-shopping-cart"></i></a> <span><strong>TO_ORDER</strong></span></div>
      </li>
     
      
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<br>
<br>
<h3>Currently viewing {{header}}</h3>
<p><a href="add_suppliers" role="button">Add_Supplier</a></p>
<table>
        <tr>
          <th>supplier_id</th>
          <th>supplier_name</th>
          <th>Delete</th>
        </tr>
        {% for item in query_results2 %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.supplier_name}}</td>
          <td>
             <!--<a href="{% url 'edit_suppliers' item.id %}" class="btn" >Edit</a>-->
            <a href="{% url 'delete_suppliers' item.id %}" class="btn" >Delete</a>
          </td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}